<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
	<File name="appAppender" fileName="/data/applogs/platon-web/logs/app.log" append="true">
		<PatternLayout pattern="[platon-web]%d %-5p [%c] %m%n"/>
	</File>
	<Console name="STDOUT" target="SYSTEM_OUT">
		<PatternLayout pattern="[platon-web]%d %-5p [%c] %m%n"/>
	</Console>
</Appenders>
<Loggers>
	<Root level="info">
		<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="appAppender"/>
	</Root>
</Loggers>
</Configuration>